* {
  margin: 0;
}
/*CSS FOR MEDIUM TO LG SCRENS*/
/*===============HEADER===============*/

header {
  max-height: 145px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 3rem;
  display: flex;
}
.logo-container {
  object-fit: cover;
  width: 30%;
}
.logo-container img{
  height: 100%;
  width: 100%;
  object-fit:contain;
}
nav {
  width: 70%;
}
nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}